*{margin: 0;padding: 0;border: 0;}
*,*::before,*::after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
html,body{width: 100%;height: 100%;}
body{
background-color: #F2F2F2;;
height: 100%;
line-height: 1;
font-size: 14px;
font-family: 'Montserrat';
font-weight: 400;
color: #4E4E4E;
}
a{
text-decoration: none;
}
ul,
ol,
li {
list-style: none;
}
img{
vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
font-weight: inherit;
font-size: inherit;}
._container {
width: 1160px;
margin: 0 auto;
}
.title__text{
font-family: Montserrat;
font-size: 36px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0px;
text-align: center;
margin-bottom: 25px;
}

    /* --------------------------------------------HEADER---------------------------- */
.wrapper {
position: relative;
width: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
height: 100vh;
background-position: center;
}
.main-block__background{
position: absolute;
z-index: -1;
width: 100%;
height: 1012px;
margin: 0;
background-size: cover;
background-repeat: no-repeat;
background-image: url(./IMAGES/background\ main.svg);
background-attachment: fixed;
}
.header {
display: flex;
justify-content: center;
background: #5E5D5899;
}
.header__container {
display: flex;
}
.header__logo {
display: flex;
width: 233px;
}
.header__icon {
position: relative;
width: 58px;
height: 67px;
top: 26px;
margin-bottom: 48px;
}
.header__icon-h {
position: absolute;
display: flex;
justify-content: center;
font-family: Montserrat;
width: 31px;
height: 31px;
top: 18px;
left: 14px;
}
.header__name {
display: flex;
margin-top: 38px;
font-family: Montserrat;
font-size: 32px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0px;
text-align: left;
color: #FFFFFF;
}
.header__span{
font-family: Montserrat;
font-size: 32px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0px;
text-align: left;
color: #18CFAB;
}
.logotip__name {
}
.header__hover{
margin-top: 67px;
margin-left: 224px;
margin-right: 12px;
}
.hover{
font-family: Roboto;
font-size: 12px;
font-weight: 700;
line-height: 14px;
letter-spacing: 0px;
text-align: left;
color: #F51717;
}
.header__menu {
width: 615px;
left: 883px;
}
.menu__list {
display: flex;   
}
.header__punkt_menu{
position: relative;
display: flex;
flex-direction: column;
align-items: center;
}
.header__punkt_menu:hover .header__item-active{
display: flex;
}
.header__item-active{
display: none;
position: absolute;
width: 100%;
height: 2px;
top: 115px;
background-color: #18CFAB;
}
.menu__item {
color: #FFFFFF;
margin-right: 21px;
text-transform: uppercase;
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
margin-top: 48px; 
}
.menu__item:last-child{
margin-right: 0px;
}
.menu__link {
text-decoration: none;
color: inherit;
}
.header__search {
width: 21px;
height: 20px;
margin-top: 49px;
margin-left: 21px;

}
/* ------------------------------------------PAGE---------------------------------- */
/* ---------------------------------------------MAIN------------------------------- */
.page {width: 100%;}
.main-block__container {
display: flex;
flex-direction: column;
justify-content: center;
}
.page__main-block-body {
display: flex;
flex-direction: column;
}
.main-block__subtitle {
font-family: Montserrat;
font-size: 35px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0px;
text-align: center;
color: #FFFFFF;
text-transform: uppercase;
margin-top: 264px;
margin-bottom: 22px;
}
.main-block__subtitle-span{
color: #18CFAB;
}
.main-block__title {
    font-family: Montserrat;
font-size: 78px;
font-weight: 700;
line-height: 70px;
letter-spacing: 0px;
text-align: center;
color: #FFFFFF;
margin-bottom: 22px;
text-transform: uppercase;
}
.main-block__text {
font-family: Montserrat;
margin-left: -14px;
font-size: 34px;
font-weight: 400;
line-height: 34px;
letter-spacing: 0px;
text-align: center;
color: #D4D4D4;
margin-bottom: 129px;
}
.main-block__buttons {
display: flex;
margin-left: 398px;
margin-bottom: 243px;
}
.main-block__button-green {
background-color: #18CFAB;
margin-right: 26px;
}
.button {
width: 168px;
height: 68px;
display: flex;flex-direction: column;
justify-content: center;    
text-align: center;
}
.button-name {
font-family: Montserrat;
font-size: 15px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0px;
color: #FFFFFF;
}
.main-block__button-blue {
background-color: #00CBF6;
}
.slide-toggle{
    background-color: #3ab770;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    margin-left: 0px;
    margin-left: 580px;
    margin-top: 55px;
}
/* /--------------------------------------OPTIONS---------------------------------- */
.options__container {
display: flex;
margin-top: 12px;
}
.options__body {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}
.options__body-image {
margin-top: 87px;
}
.options__body-text {
margin-bottom: 103px;
}
.options__body-green{
background-color: #18CFAB;
}
.options__body-black{
background-color:#1C2A33;
}
.options__body_text-black{
margin-top: 48px;
color: #18CFAB;
margin-bottom: 103px;
}
.options__body_text-green{
margin-top: 59px;
color: #FFFFFF;
margin-bottom: 103px;
}
/* ------------------------------SERVICES---------------------------------------- */
.page__services {
background-color: #FFFFFF;
}
.services__container {
display: flex;
flex-direction: column;
justify-content: center;
}
.services__title_text {
margin-top: 90px;
}
.line{
width: 91px;
height: 8px;
margin-left: 534px;
margin-bottom: 67px;
}
.services__list {
display: flex;
margin-bottom: 27px;
}
.services__punkt-menu{
cursor: pointer;
}
.services__punkt-menu:focus-within .services__item {
background-color: #18CFAB;
clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 60% 85%, 50% 100%, 40% 85%, 0 85%);
height: 86px;
}
.services__item {
display: flex;
flex-direction: column;
justify-content: center;    
text-align: center;
width: 192px;
height: 73px;
border: 1px solid #EDEFEF;
background-color: #EDEFEF;
overflow: hidden;
}
.services__item:hover {
border: 1.5px solid #18CFAB;
background-color: #F8FCFE;
}
.services__link {
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 39px;
letter-spacing: 0px;
text-decoration: none;
color: #717171;
justify-content: center;
align-items: center;
height: 100%;
padding-top: 18px;
}
.services__link:active {
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 39px;
letter-spacing: 0px;
text-decoration: none;
color: #717171;
height: 100%;
}
.services__punkt-menu{
display: flex;
flex-direction: column;
}
.service-show{
display: flex;
flex-wrap: nowrap;
box-sizing: border-box;
margin-top: 27px;
margin-bottom: 91px;
}
.services__item-active{
display: none;    
width: 27px;
height: 15px;
margin-left: 84px;
margin-top: -3px;
}
.service__section {
display: none;   
}
.service__section--active{
display: flex;
margin-bottom: 91px;
}
.services__link--active{
background: none;
height: 100%;
width: 100%;
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 39px;
letter-spacing: 0px;
text-align: center;
padding-top: 17px;
}
.section__content_image {
margin-right: 15px;
width: 194px;
height: 139px;    
}
.section__content_text {
font-family: Montserrat;
font-size: 14px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
}
/* -------------------------------------PURCHASE------------------------------------------ */
.page__purchase {
 
}
.purchase {
position: relative;
display: flex;
width: 100%;    
justify-content: space-between;
}
.purchase__title {
    font-family: Montserrat;
font-size: 40px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0px;
text-align: center;
margin-top: 127px;
left: 389px;
color: #18CFAB;
text-transform: uppercase;
}
.purchase__subtitle {
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0px;
text-align: center;
color: #D8D8D8;
margin-top: 12px;
}
.purchase__button {
display: flex;
width: 168px;
height: 68px;
margin-top: 62px;
background-color: #18CFAB;
justify-content: center;
align-items: center;
margin-left: 496px;
margin-bottom: 128px;
}
.purchase__button_name {
font-family: Montserrat;
font-size: 15px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0px;
text-align: center;
color: #FFFFFF;

}
.purchase__background{
position: absolute;
width: 100%;
z-index: -1;
height: 100%;
}
/* -----------------------AMAZING-------------------------------- */
.amazing-work {
background-color: #E9EDEF;
padding-bottom: 99px;
}
.amazing-work__title_text {
padding-top: 97px;
}
.amazing-work__title_line {
margin-top: 20px;
}
.amazing-work__menu {
margin-left: 276px;
margin-bottom: 69px;
}
.amazing-work__list {
display: flex;      
}
.amazing-work__item {
border: 1px solid #DADADA;
cursor: pointer;
}
.images__row{
display: none;
}
.images__row.active{
display: block;
}
.amazing-work__item:hover{
border: 1px solid #18CFAB;
}
.amazing-work__link {
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0px;
text-align: left;
text-decoration: none;
margin-left: 15px;
margin-right: 15px;
color: #717171;
}
.amazing-work__images {
margin: 0 auto;
box-sizing: border-box;
}
.amazing-work__button{
margin-top: 70px;
}
.button__load-more{
position: relative;
margin-left: 496px;    
width: 168px;
height: 63px;
background: #18CFAB;
display: flex;
align-items: center;
justify-content: space-evenly;
cursor: pointer;
}
.button__load-more:focus-within .button__load-more_name{
display: none;
}
.button__load-more:focus-within .preloader{
display: flex;
}
.button__load-more:focus-within .button__load-more_add{
display: none;
}
.button__load-more_add {
width: 18px;
height: 19px;
}
.button__load-more_name {
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0px;
text-align: left;
text-decoration: none;
color: #FFFFFF;
text-transform: uppercase;
}
.preloader {
display: none;
width: 80px;
height: 77px;
}
.preloader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: preloader 1.2s linear infinite;
  }
  @keyframes preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  #extra{
grid-template-columns: repeat(4, 1fr);
}
.all-block{
    grid-template-columns: repeat(4, 1fr);
}
.images__row.active{
    --gap: 0px;
    --columns: 4;
    max-width: 1160px;
    margin: 0 auto;
    display: column;
    columns: 4;
    columns: var(--columns);
    gap: var(--gap);
    }
    .graphic__design.active > * {
    break-inside: avoid;
    margin-bottom: 1em;
    margin-bottom: var(--gap);
    }
@supports (grid-template-rows: masonry){
    .images__row.active{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: masonry;
    grid-auto-flow: dense;
    }
    .images__row.active > * {
    margin-bottom: 0em;
    }
}
.images__row_content{
position: relative;
width: 290px;
height: 211px;
}
.front-side__image, .back-side__image{
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
backface-visibility: hidden;
transition: 1s;
}
.back-side__image{
transform: rotateY(180deg);
}
.images__row_content:hover .front-side__image{
transform: rotateY(180deg);
}
.images__row_content:hover .back-side__image{
transform: rotateY(360deg);
}
.back-side__image{
display: flex;
flex-direction: column;
width: 290px;
height: 211px;
background: #E9EDEF;
border-top: #18CFAB solid 6px;
}
.back-side__image_icon{
width: 88px;
height: 43px;
margin-top: 46px;
margin-left: 101px;
}
.back-side__image_creative{
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0px;
text-align: left;
color: #18CFAB;
margin-top: 23px;
margin-left: 78px;
text-transform: uppercase;
}
.back-side__image_web{
font-family: Montserrat;
font-size: 12px;
font-weight: 300;
line-height: 25px;
letter-spacing: 0px;
text-align: left;
color: #8A8A8A;
margin-left: 109px;
}
/* -------------------------------------------BREAKING-NEWS---------------------------- */
.breaking-news__hover {
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0px;
margin-left: 37px;
}
.reaking-news__title_text {
margin-top: 82px;
}
.breaking-news__row {
display: flex;
}
.breaking-news__content {
margin-right: 33px;
}
.breaking-news__content:hover .breaking-news__title{
color: #18CFAB;
}
.breaking-news__content:hover .breaking-news__data{
background-color: #18CFAB;
}
.breaking-news__content:hover .breaking-news__image{
color: #777777;
}
.breaking-news__content:last-child{
margin-right: 0px;
}
.breaking-news__foto-block {
position: relative;
}
.breaking-news__image{
font-family: Montserrat;
font-size: 14px;
font-weight: 300;
line-height: 39px;
letter-spacing: 0px;
text-align: center;
color: #777777;
}
.breaking-news__data {
position: absolute;
width: 70px;
height: 68px;
top: -2px;
left: -2px;
background-color: #203E38;
display: flex;
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0px;
text-align: center;
color: #FFFFFF;
flex-direction: column;
justify-content: center;
margin-left: 197px;
}

.breaking-news__blog-post {
display: flex;
flex-direction: column;
margin-top: 14px;
margin-bottom: 56px;
}
.breaking-news__title {
font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 39px;
letter-spacing: 0px;
text-align: center;
color: #717171;
}
/* -------------------------PEOPLE-SAY---------------------------------------------- */
.page__people-say {
position: relative;
display: flex;
width: 100%;    
justify-content: space-between;
}
.people-say__container {
height: 100%;       
}
.people-say__title_text {
color: #FFFFFF;
margin-top: 98px;
}
.carousel{
position: relative;
width: 1160px;
height: 397px;
margin: 0 auto;
}
.carousel__images{
width: 171px;
height: 166px;
margin-left: 494px;
margin-top: 25px;
}
.carousel__track-container{
height: 100%;
position: relative;
overflow: hidden;
}
.carousel__track{
padding: 0;
margin: 0;
list-style: none;
position: relative;
transition: transform 250ms ease-in;
}
.carousel__slide{
display: flex;
flex-direction: column;
align-items: center;
position: absolute;
top: 0;
bottom: 0;
width: 100%;
}
.people-say__image{
width: 44px;
height: 30px;
margin-bottom: 37px;
}
.say-content__text {
font-family: Montserrat;
font-size: 16px;
font-weight: 300;
line-height: 25px;
letter-spacing: 0px;
text-align: center;
color: #BBBBBB;
padding-top: 0px;
}
.say-content__name {
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0px;
text-align: center;
color: #18CFAB;
display: flex;
flex-direction: column;
margin-top: 37px;
}
.say-content__span{
font-family: Montserrat;
font-size: 13px;
font-weight: 300;
line-height: 27px;
letter-spacing: 0px;
text-align: center;
color: #BBBBBB;
}
.say-content__foto {
width: 171px;
height: 166px;
margin-top: 25px;
}
.bottom-slider{
position: relative;     
width: 483px;
height: 70px;
margin: 0 auto;
margin-bottom: 55px;
}
.bottom-slider_container{
display: flex;
justify-content: center;
margin-top: 51px;
}
.carousel__button{
position: absolute;
width: 31px;
height: 31px;
background: transparent;
border: 1px solid #BBBBBB;
cursor: pointer;
justify-content: center;
top: 20px;
}
.carousel__button:active{
background-color: #18CFAB;
}
.carousel__button-left{
position: absolute;
left: -24px;
}
.carousel__button-right{
position: absolute;
right: -24px;
}
.carousel__nav{
position: absolute;
display: flex;
justify-content: center;
}
.carousel__indikator{
display: flex;
width: 75px;
height: 70px;
margin-right: 21px;
top: 0;
bottom: 0;
cursor: pointer;
justify-content: center;
    align-items: center;
background: transparent;
}
.is-hidden{display: none;}
.carousel__indikator.current-slide{
align-items: start;
}
.carousel__indikator_image{
width: 58px;
height: 58px;
}
.carousel__indikator:last-child{margin-right: 0px;}
.people-say__click{
color: white;
width: 10px;
height: 15px;    
}
.people-say__background {
position: absolute;
background-image: url(./IMAGES/background\ people\ say.svg);
width: 100%;
z-index: -1;
height: 100%;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}
/* --------------------GALLERY-IMAGES--------------------------------- */
.title__content {
    margin-top: 109px;
}
.gallery-images__collection{
--gap: 20px;
--columns: 3;
max-width: 1160px;
margin: 0 auto;
display: column;
columns: 3;
columns: var(--columns);
gap: var(--gap);
}
.gallery-images__collection > * {
break-inside: avoid;
margin-bottom: 1em;
margin-bottom: var(--gap);
}
@supports (grid-template-rows: masonry){
    .gallery-images__collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: masonry;
    grid-auto-flow: dense;
    }
    .gallery-images__collection > * {
    margin-bottom: 0em;
    }
}
.images__row-collection {
display: grid;
max-width: 364px;
grid-template-areas:   "a1 a1 a1 b1 b1 b1"
                       "a1 a1 a1 b1 b1 b1"
                       "c1 c1 d1 d1 e1 e1"
                       "f1 f1 g1 g1 h1 h1"
                       "i1 i1 j1 j1 k1 k1";
                       gap: 3px;
}
.images__row-collection__a {
grid-area: a1;
}
.collection__image-b{
grid-area: b1;
position: relative;
overflow: hidden;
background-color: #000000;
}
.collection__image-b:hover .images__row-collection__b{
opacity: 0.4;
}
.images__row-collection__b {
position: absolute;
display: block;
}
.collection__image_glass{
display: none;
justify-content: center;
position: absolute;
flex-wrap: wrap;
width: 27px;
height: 25px;
margin-top: 72px;
margin-left: 19px;
background-color: #14B9D5;
}
.collection__image-b:hover .collection__image_glass{
display: flex;
}
.collection__image_magnification{
position: absolute;
display: none;
justify-content: center;
flex-wrap: wrap;
width: 27px;
height: 25px;
background-color: #14B9D5;
margin-top: 72px;
margin-left: 66px;
}
.collection__image-b:hover .collection__image_magnification{
display: flex;
}
.images__row-collection__c {
grid-area: c1;
}
.images__row-collection__d {
grid-area: d1;
}
.images__row-collection__e {
grid-area: e1;
}
.images__row-collection__f {
grid-area: f1;
}
.images__row-collection__g {
grid-area: g1;
}
.images__row-collection__h {
grid-area: h1;
}
.images__row-collection__i {
grid-area: i1;
}
.images__row-collection__j {
grid-area: j1;
}
.images__row-collection__k {
grid-area: k1;
}
.button__load-more {
margin-top: 52px;
margin-bottom: 67px;
}

/* ---------------------FOOTER---------------------------------------- */
.footer{
background-color: #000000;
}
.footer__text {
color: #AEAEAE;
padding-top: 48px;
padding-bottom: 47px;
margin-left: 417px;
font-family: Montserrat;
font-size: 14px;
font-weight: 300;
line-height: 26px;
letter-spacing: 0px;
text-align: left;

}
.btn-up {
    position: fixed;
    background-color: #3ab770;
    color: #FFFFFF;
    right: 20px;
    bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    margin-left: 0px;
    padding-bottom: 15px;
  }
  
  .btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
 }
  
  .btn-up_hide {
    display: none;
  }
  
  @media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
      background-color: #3ab770; 
    }
  }